.about {
  background-size: 100% 100%;
}

.about__container {
  box-sizing: border-box;
  max-width: 1300px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  @include outline(orange);

}

.about h2 {
  // @include outline;
  @include list-reset;
  text-align: left;
  margin-bottom: 20px;
  width: 30%;
}

.about__text p {
  @include outline;
  @include main-text;

  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  color: $deepblue;
}
