.about {
  background-color: #f5f5f5;
  margin-top: 30px;
}

.about__container {
  width: 1300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.about h2 {
  // @include outline;
  @include list-reset;
  text-align: left;
  margin-bottom: 20px;
}

.about__text p {
  // @include outline;
  @include main-text;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
