.page__header {
  box-sizing: border-box;
  // @include outline(green);
  min-height: 386px;
  padding-top: 50px;
}

.page__header b,
.page__header span {
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Cormorant SC", serif;
  font-weight: 700;
}

.page__header b {
  color: $black;
  font-size: 64px;
  line-height: 69px;
  margin-top: 40px;
}

.page__header span {
  display: block;
  font-size: 42px;
  line-height: 47px;
  font-weight: 700;
  color: $mainBlue;
  margin-top: 20px;
}

.page__header-container {
  // @include outline(red);
  width: 1300px;
  margin: 0 auto;
}

.page__header-container img {
  // @include outline(green);
  display: block;
  margin: 0 auto;
}
