.projects__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  // @include outline;
}

.projects__item {
  width: 381px;
  // @include outline (green);
  margin-bottom: 30px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.42);
  background-color: rgb(255, 255, 254);
}

.projects__item img {
  display: block;
  margin: 0 auto;
}

.projects__item h3 {
  width: 55%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.projects__item a {
  color: $black;
}

.projects__item a:hover {
  color: gray;
}

.projects__toggle {
  font-family: "PT Sans Narrow", sans-serif;
  background: none;
  border: none;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  display: block;
  font-size: 22px;
  border-bottom: 2px solid $black;
}

.projects__tags {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects__tag {
  margin-right: 12px;
  color: rgba(0, 0, 0, 0.62);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  line-height: 23px;
}


.projects__works {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 15px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projects__work {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.62);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.projects__description {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.projects__details a {
  display: table;
  color: $black;
  margin-left: 20px;
  margin-top: 15px;

  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 2px solid black;
}
