.title {
  display: grid;
  grid-template-areas: "title photo"
  "myname photo";
  grid-template-rows: 30% 70%;
  grid-template-columns: 50% 50%;
}

.title span {
  position: relative;
  align-self: end;
  grid-area: title;
  font-size: 60px;
  z-index: 1;
  text-transform: uppercase;
  white-space: pre;
  color: $yellow;
}

.title__name {
  box-sizing: border-box;
  grid-area: myname;
  align-items: center;
  padding-top: 80px;
  height: 300px;
  // @include outline(green);
}

.title b {
  display: block;
  font-size: 100px;
  line-height: 120px;
  white-space: pre;
  z-index: 1;
  margin-bottom: 0;
  color: $white;
}

.title img {
  grid-area: photo;
  right: 0;
}
