.heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 73px;
  color: #000000;
  position: relative;
  margin-bottom: 0;
}

.heading::after {
  content: "";
  position: absolute;
  top: 79px;
  left: 0;
  width: 194px;
  height: 5px;
  background-color: $yellow;
}

.heading--white {
  color: $white;
}


@media (max-width: 1200px) {
  .heading {
    font-size: 50px;
    line-height: 52px;
  }

  .heading::after {
    top: 55px;
    left: 0;
    width: 154px;
    height: 4px;
    background-color: $yellow;
  }

}
