$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$min-mobile: 320px;
$max-mobile: 767px;
$max-tablet: 1023px;

$white: #ffffff;
$deepblue: #181f29;
$yellow: #fed501;

$black: #444444;
$red: #ff0000;
$gray: #ebebeb;
